$widthSite: 1140px;
$colorDark: rgb(34, 34, 36);
$colorGrey11110110:rgb(111, 110, 110);
$colorRed:rgb(241, 109, 127);
$colorRed24299118:rgb(242, 99, 118);
$colorRed23991112:rgb(239, 91, 112);
$colorWhite: white;
$shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
$shadowDownRight: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);